# Esta es una prueba de visualización de redes de BitCoin
## Desarrollado por: Camilo Rey

In [1]:
import pandas as Pandas

In [2]:
info_red = Pandas.read_csv('soc-sign-bitcoinalpha.csv')

Ahora veamos qué contiene el archivo.

In [3]:
info_red.head()

   7188  1  10  1407470400
0   430  1  10  1376539200
1  3134  1  10  1369713600
2  3026  1  10  1350014400
3  3010  1  10  1347854400
4   804  1  10  1337572800